* {

    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.wcontent{


    text-align: center;
  

}

.wimages  img{



float: left;
width: 25%;





}
.wimages{
margin: auto;
position: absolute;
bottom: 0;

}
.wcontent h1,p{

    color: #fff;
}