* {

    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.wcontent{


    text-align: center;
  

}
.wcontent h1,p{

    color:#fff;
}
.mim img{
width: 50%;


}

div.mim{
        margin:auto;
        display:inline-block;
        width: 30%;
        color: #fff;
    
}